<?xml version='1.0' encoding='utf-8'?>
<widget id="com.monnom.lmshop" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>LM Shop</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <author email="dev@cordova.apache.org" href="https://cordova.apache.org">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
<platform name="android">
        <icon src="res/icons/android/ldpi.png" density="ldpi"/>
        <icon src="res/icons/android/mdpi.png" density="mdpi"/>
        <icon src="res/icons/android/hdpi.png" density="hdpi"/>
        <icon src="res/icons/android/xhdpi.png" density="xhdpi"/>
        <icon src="res/icons/android/xxhdpi.png" density="xxhdpi"/>
        <icon src="res/icons/android/xxxhdpi.png" density="xxxhdpi"/>
    </platform>
</widget>
